<h1>Listing Twitterbots </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Notes</th>
    <th colspan="3"></th>
  </tr>

  <% @twitbots.each do |twitbot| %>
    <% if can? :show, twitbot %>
      <tr>
        <td><%= twitbot.title %></td>
        <td><%= twitbot.notes %></td>
        <td><%= link_to 'Show', twitbot_path(twitbot) %></td>
        <% if can? :edit, twitbot %>
          <td><%= link_to 'Edit', edit_twitbot_path(twitbot) %></td>
        <% end %>
        <% if can? :destroy, twitbot %>
        <td><%= link_to 'Delete', twitbot_path(twitbot), method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
</table>

<%= link_to 'New', new_twitbot_path %>
