<div class="row">
  <div class="col">
    <h1><%=@twitbot.title %></h1>

    <p>
      <strong>Notes:</strong>
      <%= @twitbot.notes %>
    </p>

  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Unused</h3>
      <% @twitbot.tweets.each do |tweet| %>
        <% if tweet.used == false %>
          <%= render tweet %>
        <% end %>
      <% end %>
  </div>

  <div class="col">
    <h3>Used</h3>
    <% @twitbot.tweets.each do |tweet| %>
      <% if tweet.used == true %>
        <%= render tweet %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col">
    <h3>Add new tweet:</h3>
    <%= render 'tweets/form' %>
    <%= link_to 'Back', twitbots_path %>
    <%= link_to 'Edit', edit_twitbot_path %>
  </div>

</div>
