<div class="row">
  <div class="col">
    <h1><%=@twitbot.title %></h1>

    <p>
      <strong>Notes:</strong>
      <%= @twitbot.notes %>
    </p>

  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Unused</h3>
      <% @twitbot.tweets.each do |tweet| %>
        <% if tweet.used == false %>
          <%= render tweet %>
        <% end %>
      <% end %>
  </div>

  <div class="col">
    <h3>Used</h3>
    <% @twitbot.tweets.each do |tweet| %>
      <% if tweet.used == true %>
        <%= render tweet %>
      <% end %>
    <% end %>
  </div>

  <div class="col">
    <a class="twitter-timeline" href="https://twitter.com/<%= current_user.username %>?ref_src=twsrc%5Etfw">Tweets by <%= current_user.username %></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Add new tweet:</h3>
    <%= render 'tweets/form' %>
    <%= link_to 'Back', twitbots_path %>
    <%= link_to 'Edit', edit_twitbot_path %>
  </div>
  <div class="col">
    <%= form_with model: @twitbot, local: true do |form| %>
      <%= form.label :spreadsheet %> <br />
      <%= form.file_field :spreadsheet %> <br />
      <%= form.submit %>
    <% end %>
  </div>
</div>
